################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Acme.erpSupport/Acme.erpSupport/bin/Debug
/Acme.erpSupport/Acme.erpSupport/obj/x86/Debug
/Acme.erpSupport/Acme.erpSupport/obj/x86/Release
/AcMEDS/bin/Debug
/AcMEDS/obj/x86
*.scc
/AcMEDSsetup/Debug
/AcMEDSsetup/Release
/AcMEDSync/bin/Debug
/AcMEDSync/obj
/AcMEERP/Debug
/AcMEERP/Release
/AcMEERPInstaller/bin
/AcMEERPInstaller/obj/x86
/AcMEService/obj
/Bosco.DAO/obj
/Bosco.DAO.Schema/bin
/Bosco.DAO.Schema/obj
/Bosco.HOSQL/obj
/Bosco.Model/bin/Debug
/Bosco.Model/obj
/Bosco.Report/obj
/Bosco.SQL/bin
/Bosco.SQL/obj
/Bosco.Utility/obj
/MySQLConfigure/bin/Debug
/MySQLConfigure/obj/x86
/PAYROLL/obj
/Payroll.DAO/obj
/Payroll.DAO.Schema/obj
/Payroll.Model/obj
/Payroll.SQL/obj
/Payroll.Utility/obj
/SUPPORT/bin/Debug
/SUPPORT/obj
/Win/obj/x86
