<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="app.dataaccess" type="Bosco.DAO.Configuration.DatabaseHandler, Bosco.DAO"/>
  </configSections>


  <connectionStrings>
    <!--<add name="AppConnectionString" connectionString="server=localhost;database=acperp;uid=root;pwd=root;pooling=false" providerName="MySQL.Data.MySqlClient"/>-->
    <add name="AppConnectionString" connectionString="server=localhost; port=3307; database=acperp; uid=root;pwd=acperproot; charset=utf8; pooling=false" providerName="MySQL.Data.MySqlClient"/>
    <add name="MySQLConnectionString" connectionString="server=localhost;  port=3307; database=acperp; uid=root;pwd=acperproot; charset=utf8; pooling=false"   providerName="MySQL.Data.MySqlClient="/>
  </connectionStrings>


  <!--This value should be mapped in app.dataaccess to identify what type of Database Handler-->
  <!--It has to be declared as Enum Type in Bosco.Utility.EnumCommand.AppSettingName-->
  <appSettings>
    <!--<add key="DatabaseProvider" value="SQLServer"/>-->
    <add key="DatabaseProvider" value="MySQL"/>
    <add key="SQLAdapter" value="Bosco.SQL.SQLAdapter,Bosco.SQL"/>
    <!--For migration purpose -->
    <add key="OleDBConFormat" value="Provider=Microsoft.Jet.OLEDB.4.0;data source=@AccessDB@" />
    <add key="DefaultSenderEmailId" value="johnbritto@boscosoft.com"/>
    <add key="OleDBConStr" value=""/>
  </appSettings>


  <!--Which is defined in configSections to be implemented here to access Data object (SQL Server/MySQL/....)-->
  <app.dataaccess>
    <appdatabase id="MySQL" type="Bosco.DAO.MySQL.MySQLDataHandler, Bosco.DAO"/>
  </app.dataaccess>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="johnbritto@boscosoft.com" password="jobritto" defaultCredentials="false" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataSynchronizer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/erp/DataSyncService/DataSynchronizer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSynchronizer"
        contract="DataSyncService.IDataSynchronizer" name="BasicHttpBinding_IDataSynchronizer" />
    </client>
  </system.serviceModel>
</configuration>
