<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="SSPAcmeIntegrationSoap" />
        <binding name="SSPAcmeIntegrationSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SSPAcmeIntegrationSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://108.170.11.170/2.0TEST/Webservice/SSPAcmeintegration.asmx"
        binding="basicHttpBinding" bindingConfiguration="SSPAcmeIntegrationSoap1"
        contract="SSPAcmeIntegration.SSPAcmeIntegrationSoap" name="SSPAcmeIntegrationSoap" />
      <endpoint address="http://108.170.11.170/2.0TEST/Webservice/SSPAcmeintegration.asmx"
        binding="customBinding" bindingConfiguration="SSPAcmeIntegrationSoap12"
        contract="SSPAcmeIntegration.SSPAcmeIntegrationSoap" name="SSPAcmeIntegrationSoap12" />
    </client>-->
    <bindings>
      <basicHttpBinding>
        <binding name="SSPAcmeIntegrationSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SSPAcmeIntegrationSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://108.170.11.170/2.0TEST/Webservice/SSPAcmeintegration.asmx"
        binding="basicHttpBinding" bindingConfiguration="SSPAcmeIntegrationSoap"
        contract="SSPAcmeIntegration.SSPAcmeIntegrationSoap" name="SSPAcmeIntegrationSoap" />
      <endpoint address="http://108.170.11.170/2.0TEST/Webservice/SSPAcmeintegration.asmx"
        binding="customBinding" bindingConfiguration="SSPAcmeIntegrationSoap12"
        contract="SSPAcmeIntegration.SSPAcmeIntegrationSoap" name="SSPAcmeIntegrationSoap12" />
    </client>
  </system.serviceModel>
</configuration>