<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="app.dataaccess" type="Bosco.DAO.Configuration.DatabaseHandler, Bosco.DAO"/>
  </configSections>


  <configProtectedData />
  <system.diagnostics />
  <system.windows.forms />
  <uri />
  <connectionStrings>
    <add name="AppConnectionString" connectionString="server=localhost; port=3320;database=acperp; uid=root;pwd=acperproot; charset=utf8; pooling=false;Connection Timeout = 300" providerName="MySQL.Data.MySqlClient" />
    <add name="MySQLConnectionString" connectionString="server=localhost; port=3320;database=mysql;uid=root;pwd=acperproot; charset=utf8; pooling=false;Connection Timeout = 300" providerName="MySQL.Data.MySqlClient" />
  </connectionStrings>

  <!--This value should be mapped in app.dataaccess to identify what type of Database Handler-->
  <!--It has to be declared as Enum Type in Bosco.Utility.EnumCommand.AppSettingName-->
  <appSettings>
    <add key="DatabaseProvider" value="MySQL" />
    <add key="SQLAdapter" value="Bosco.SQL.SQLAdapter,Bosco.SQL" />
    <add key="HOSQLAdapter" value="Bosco.HOSQL.SQLAdapter,Bosco.HOSQL" />
    <add key="PayrollSQLAdapter" value="Payroll.SQL.SQLAdapter,Payroll.SQL" />
    <add key="OleDBConFormat" value="Provider=Microsoft.Jet.OLEDB.4.0;data source=@AccessDB@" />
    <add key="OleDBConStr" />
    <add key="TallyServer" value="localhost" />
    <add key="Port" value="9000" />
    <add key="ftpURL" value="httpdocs/Module/Software/Uploads/" />
    <add key="version" value="1.7.0" />
  </appSettings>


  <!--Which is defined in configSections to be implemented here to access Data object (SQL Server/MySQL/....)-->
  <app.dataaccess>
    <appdatabase id="MySQL" type="Bosco.DAO.MySQL.MySQLDataHandler, Bosco.DAO" />
  </app.dataaccess>
  <system.net>
    <authenticationModules />
    <connectionManagement />
    <defaultProxy />
    <requestCaching />
    <settings />
    <webRequestModules />
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="true" host="10.11.11.82" password=""
          userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <system.serviceModel>
    <comContracts />
    <diagnostics />
    <extensions />
    <protocolMapping />
    <routing />
    <serviceHostingEnvironment />
    <standardEndpoints />
    <tracking />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAcMEService" closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          maxBufferSize="524288" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IDataSynchronizer" closeTimeout="00:40:00"
          openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="SSPAcmeIntegrationSoap" closeTimeout="00:40:00"
          openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehavior" name="AcMEService.AcMeERPService">
        <endpoint address="AcMeERPService" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAcMEService" contract="AcMEService.IAcMeERPService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8098/AcMEService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="524288" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://acmeerp.org/DataSyncService/DataSynchronizer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSynchronizer"
        contract="DataSyncService.IDataSynchronizer" name="BasicHttpBinding_IDataSynchronizer" />
      <endpoint address="https://sdbinmsmartschoolplus.co.in//WebService/SSPAcmeIntegration.asmx"
        binding="basicHttpBinding" bindingConfiguration="SSPAcmeIntegrationSoap"
        contract="SSPAcmeIntegration.SSPAcmeIntegrationSoap" name="SSPAcmeIntegrationSoap" />
    </client>
  </system.serviceModel>

  <system.runtime.caching>
    <memoryCache />
  </system.runtime.caching>
  <system.runtime.serialization>
    <dataContractSerializer />
  </system.runtime.serialization>
  <system.serviceModel.activation>
    <diagnostics />
    <net.pipe />
    <net.tcp />
  </system.serviceModel.activation>
  <system.transactions>
    <defaultSettings />
  </system.transactions>
  <system.web>
    <anonymousIdentification />
    <authentication />
    <authorization />
    <clientTarget />
    <compilation />
    <customErrors />
    <deployment />
    <deviceFilters />
    <fullTrustAssemblies />
    <globalization />
    <healthMonitoring />
    <hostingEnvironment />
    <httpCookies />
    <httpHandlers />
    <httpModules />
    <httpRuntime />
    <identity />
    <machineKey />
    <membership />
    <mobileControls />
    <pages />
    <partialTrustVisibleAssemblies />
    <processModel />
    <profile />
    <protocols />
    <roleManager />
    <securityPolicy />
    <sessionPageState />
    <sessionState />
    <siteMap />
    <trace />
    <trust level="Full" />
    <urlMappings />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    <webParts />
    <webServices />
    <xhtmlConformance />
    <caching>
      <cache />
      <outputCache />
      <outputCacheSettings />
      <sqlCacheDependency />
    </caching>
  </system.web>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler />
      <webServices>
        <authenticationService />
        <jsonSerialization />
        <profileService />
        <roleService />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.xaml.hosting>
    <httpHandlers />
  </system.xaml.hosting>
  <system.xml.serialization>
    <dateTimeSerialization />
    <schemaImporterExtensions />
    <xmlSerializer />
  </system.xml.serialization>
</configuration>